*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 238);
}


.mdl-button{
    border-radius: 50px;
}

 #check{
     display: flex;
     justify-content:space-around;
 }

#listado{
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    margin-top: 30px;
}


.linea{

    border: 1px solid #000;
}

h4{
    margin-left: 50px;
}

h5{
    border: #000;
}

.formulario{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 50px;
}

.reset{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 50px;
}

.canales{
    display: flex;
    flex-direction: row;
    
}
.listado{
    display: flex;
    flex-direction: column;
    width: 10px;
}

#listados{
    display: flex;
      
}

.list1{
   margin-right: 50px;
}
