*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: ghostwhite
}

.mdl-button{
    border-radius: 50px;
}



#listado{
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    margin-top: 30px;
}


.linea{

    border: 1px solid #000;
}

h4{
    margin-left: 50px;
}

.formulario{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 50px;
}

.reset{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 50px;
}




